################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MSTestV2/obj/Debug
/packages
/MSTestV2/bin/Debug
